[data-type="yard-blocks/tabs"] {
	.block-editor-block-list__layout {
		margin-right:0;
		margin-left:0;
	}
}

[data-type="yard-blocks/tabs-tab"] {
	> .editor-block-list__block-edit {
		> .editor-block-mover {
			display:none !important;
		}
	}
}


