.edit-post-visual-editor {
	[data-type='yard-blocks/row'] {
		@extend .container !optional;
		min-width: 100%;
	}

	.resizablebox {
		border-bottom: 2px dashed $yardblue;
	}

	.yard-blocks-row {
		position: relative;
		display: flex;

		.block-editor-block-list__layout {
			display: flex;
			max-width: 100%;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-left: 0;
		}

		.block-editor-inner-blocks {
			width: 100%;
		}

		// Nested row
		[data-type='yard-blocks/row'] {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.row {
		margin-right: 0;
		margin-left: 0;

		.block-editor-inner-blocks {
			width: 100%;
		}
	}

	.yard-blocks-column {
		max-width: 100% !important;
	}

	// Columns
	.col-1-desktop-full-width {
		[data-type='yard-blocks/column'] {
			max-width: 100%;
		}
	}

	.col-2-desktop-heavy-left {
		[data-type='yard-blocks/column'] {
			&:first-child {
				width: 70%;
			}
			&:last-child {
				width: 30%;
			}
		}

		[class='column-'] {
			width: 100%;
		}
	}

	.col-2-desktop-heavy-right {
		[data-type='yard-blocks/column'] {
			&:first-child {
				width: 30%;
			}
			&:last-child {
				width: 70%;
			}
		}
	}

	.col-2-desktop-equal-width {
		.yard-blocks-column {
			.editor-block-list__block {
				padding-right: 50px;
				padding-left: 50px;
			}

			.col-1-desktop-full-width {
				[data-type='yard-blocks/column'] {
					width: 100%;
					padding-right: 0;
					padding-left: 0;
				}
			}
		}

		[data-type='yard-blocks/column'] {
			&:first-child {
				width: 50%;
			}
			&:last-child {
				width: 50%;
			}
		}
	}

	.columns-equal-height {
		[data-type='yard-blocks/column'] {
			//height: 100%;
			max-height: 100%;
		}
	}
}

.select-layout {
	text-align: center;

	&__button {
		position: relative;
		width: 165px;
		height: 135px;
		border: 0;
		margin-right: 5px;
		background: none;

		&:hover {
			svg {
				rect {
					fill: $yardblue;
				}
			}
		}
	}
}

// NOTE: looks like a styling bug within this component other range controls are styled properly
.components-range-control__slider {
	width: initial !important;
}
