@import '../base-colors';

.yard-blocks-collapse {
	margin-bottom: 2rem;

	.block-list-appender {
		position: static;

		.block-editor-button-block-appender {
			padding: 4px;
			box-shadow: inset 0 0 0 1px $gray-300;
			transition: 0.1s all ease-in-out;

			&:hover {
				background-color: rgba(
					var( --wp-admin-theme-color--rgb ),
					0.04
				);
			}
		}
	}
}

.yard-blocks-collapse-item {
	margin-bottom: 1rem;
}

.yard-blocks-collapse-item__header {
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: $gray-100;
	border: 1px solid $gray-300;

	.block-editor-plain-text {
		padding: 0 0.5rem;
		font-size: 1.2rem !important;
		background-color: transparent;

		&:focus {
			background-color: $white;
		}
	}
}

.yard-blocks-collapse-item__arrow {
	transition: all 0.15s ease;
}

.yard-blocks-collapse-item__button {
	margin-left: 1rem !important;

	&[aria-expanded='true'] {
		.yard-blocks-collapse-item__arrow {
			transform: rotate( 180deg );
		}
	}
}

.yard-blocks-collapse-item__body {
	padding: 1rem 1rem 0 1rem;
	border-right: 1px solid $gray-300;
	border-bottom: 1px solid $gray-300;
	border-left: 1px solid $gray-300;
}
