{
	"root": true,
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"env": {
		"browser": true
	},
	"rules": {
		"jsdoc": "off",
		"jest/expect-expect": "off",
		"@wordpress/dependency-group": "error",
		"@wordpress/i18n-translator-comments": "off",
		"@wordpress/i18n-text-domain": "off",
		"@wordpress/i18n-no-collapsible-whitespace": "off",
		"@wordpress/i18n-no-placeholders-only": "off",
		"@wordpress/i18n-no-variables": "off",
		"@wordpress/i18n-ellipsis": "off",
		"jsdoc/check-access": "off",
		"jsdoc/require-param": "off",
		"jsdoc/check-param-names": "off",
		"jsdoc/require-param-type": "off",
		"jsdoc/check-property-names": "off",
		"jsdoc/check-values": "off",
		"jsdoc/empty-tags": "off",
		"jsdoc/require-property": "off",
		"jsdoc/require-property-description": "off",
		"jsdoc/require-property-name": "off",
		"jsdoc/require-property-type": "off"
	},
	"globals": {
		"theme": true,
		"jsVars": true,
		"google": true,
		"MarkerClusterer": true,
		"yardBlocks": true,
		"jQuery": true
	}
}
