// @media doesn't support css variables so we use sass variable
$yard-block-cards-overflow-breakpoint: "768px" !default;

.wp-block-yard-block-cards {
	display: flex;
	flex-wrap: wrap;

	.wp-block-yard-block-card {
		flex-grow: 1;
		padding-right: var(--yard-block-cards-spacer, 15px);
		padding-left: var(--yard-block-cards-spacer, 15px);
		margin-bottom: calc(var(--yard-block-cards-spacer, 30px) * 2);

		@media (max-width: $yard-block-cards-overflow-breakpoint) {
			max-width: 100% !important;
		}
	}

	&.has-cards-equal-height {
		.yard-block-card__inner {
			height: 100%;
		}
	}

	&.has-flex-wrap {
		flex-wrap: wrap;
	}

	&.has-overflow-on-mobile {
		@media (max-width: $yard-block-cards-overflow-breakpoint) {
			flex-wrap: nowrap;
			overflow-x: auto;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.wp-block-yard-block-card {
			@media (max-width: $yard-block-cards-overflow-breakpoint) {
				flex: 1 0 var(--yard-block-cards-overflow-card-width, 75%);
			}
		}
	}
}

.yard-blocks-grid-column .wp-block-yard-block-cards {
	margin-right: calc(var(--yard-block-cards-spacer, 15px) * -1);
	margin-left: calc(var(--yard-block-cards-spacer, 15px) * -1);
}
