$block: "yard-blocks-list-posts";

.#{$block}__date-container {
	display: flex;
	height: 100px;
	flex: 0 0 150px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.#{$block}__date {
	display: flex;
	flex-direction: column;
	font-size: 1rem;

	span {
		text-align: center;
	}
}

.#{$block}__date-day {
	font-size: 1.8em;
	font-weight: bold;
}

.#{$block}__date-month {
	margin-top: -5px;
	font-size: 0.8em;
	text-transform: uppercase;
}
