.yard-blocks-iconlist {
	&-preview-icon {
		margin-bottom: 1rem;
		font-size: 3rem;
	}

	&-popover {
		&-container {
			display: flex;
			width: 300px;
			flex-wrap: wrap;
			justify-content: center;
			margin: 1rem;
			row-gap: 10px;
		}

		&-btn-container {
			display: flex;
			width: 60px;
			justify-content: center;

			i {
				font-size: 2rem;
			}
		}
	}

	&-notice {
		margin-right: 0;
		margin-left: 0;
	}
}

.yard-blocks-iconlist {
	padding-left: 0;

	.block-list-appender {
		position: static;
		margin-bottom: 1rem;
	}
}
