.yard-blocks-select {
	width: 100%;
}

.yard-blocks-select__group {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

[data-type='yard-blocks/preset'] {
	// Allow select to overflow the next or previous block
	.components-placeholder {
		position: relative;
		z-index: 999;
	}
}

.yard-blocks-preset-preview {
	max-height: 60vh;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		z-index: 1000;
		top: calc( 60vh - 60px );
		left: 0;
		width: 100%;
		height: 60px;
		margin: 0;
		background-image: linear-gradient( to bottom, transparent, white );
		pointer-events: none;
	}
}
