$block: 'pre-publish-checklist';

.#{$block} {
	&-correct,
	&-wrong {
		display: flex;
		gap: 0.5rem;

		&::before {
			$size: 8px;
			display: flex;
			justify-content: center;
			width: $size;
			height: $size;
		}
	}

	&-correct {
		color: #46b450;

		&::before {
			content: '✓';
		}
	}

	&-wrong {
		color: #dc3232;

		&::before {
			content: '×';
		}
	}
}

// Hide checkbox "Always show pre-publish checks"
.editor-post-publish-panel__footer .components-base-control {
	display: none;
}
