// Tabpanel
$yardblue: #0193af;

.tab-panel--layout {
	$tab-active: $yardblue;
	$tab-inactive: #656a6f;

	.components-tab-panel__tabs {
		width: calc(100% + 30px);
		padding-right: 15px;
		padding-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
		margin-left: -15px;
	}

	// Tabcontrols
	.tabpanel__btn {
		height: 45px;
		border: 0;
		border-bottom: 4px solid transparent;
		margin-right: 10px;
		transition: 0.15s color ease-in-out, 0.15s,
			0.15s border-color ease-in-out;

		&::before {
			height: inherit;
			margin: 3px 0;
			color: $tab-inactive;
			/* stylelint-disable-next-line */
			font-family: dashicons;
			font-size: 30px;
		}

		&:focus,
		&.active-tab {
			border-bottom-color: $tab-active;
			box-shadow: none;

			&::before {
				color: $tab-active;
			}
		}

		&--desktop {
			&::before {
				content: "\f472";
			}
		}

		&--tablet {
			&::before {
				content: "\f471";
			}
		}

		&--mobile {
			&::before {
				content: "\f470";
			}
		}
	}

	.column-option {
		&__btn {
			position: relative;
			z-index: 2;
			width: 75px;
			height: 45px;
			border: 0;
			margin-right: 5px;
			background: none;

			&.active {
				rect {
					fill: $yardblue;
				}
			}
		}

		span,
		svg rect {
			position: relative;
			z-index: 0;
		}
	}
}

