.yard-blocks-iconlist {
	padding-left: 0;

	.block-list-appender {
		position: static;

		.block-editor-button-block-appender {
			padding: 4px;
			box-shadow: inset 0 0 0 1px $gray-300;
			transition: 0.1s all ease-in-out;

			&:hover {
				background-color: rgba(
					var( --wp-admin-theme-color--rgb ),
					0.04
				);
			}
		}
	}
}
