$grid-flex-options: (
	'flex-align-top-left': (
		'flex-start',
		false,
	),
	'flex-align-top-center': (
		'center',
		false,
	),
	'flex-align-top-right': (
		'flex-end',
		false,
	),
	'flex-align-center-left': (
		'flex-start',
		false,
	),
	'flex-align-center-center': (
		'center',
		false,
	),
	'flex-align-center-right': (
		'flex-end',
		false,
	),
	'flex-align-bottom-left': (
		'flex-start',
		false,
	),
	'flex-align-bottom-center': (
		'center',
		false,
	),
	'flex-align-bottom-right': (
		'flex-end',
		false,
	),
);

$flex-alignment-options: (
	'flex-align-top-left': (
		'flex-start',
		'flex-start',
	),
	'flex-align-top-center': (
		'center',
		'flex-start',
	),
	'flex-align-top-right': (
		'flex-end',
		'flex-start',
	),
	'flex-align-center-left': (
		'flex-start',
		'center',
	),
	'flex-align-center-center': (
		'center',
		'center',
	),
	'flex-align-center-right': (
		'flex-end',
		'center',
	),
	'flex-align-bottom-left': (
		'flex-start',
		'flex-end',
	),
	'flex-align-bottom-center': (
		'center',
		'flex-end',
	),
	'flex-align-bottom-right': (
		'flex-end',
		'flex-end',
	),
);

@mixin create-flex-alignment( $justify-content: center, $align-items: center ) {
	display: flex;
	justify-content: #{$justify-content};

	@if ( $align-items ) {
		align-items: #{$align-items};
	}
}

@mixin wrap-flex-alignment( $selector, $options ) {
	@each $flex-alignment, $properties in $options {
		.#{$flex-alignment} {
			#{$selector} {
				@include create-flex-alignment(
					nth( $properties, 1 ),
					nth( $properties, 2 )
				);
			}
		}
	}
}

@mixin setup-flex-alignment( $options ) {
	@each $wrapperClass, $properties in $options {
		.#{$wrapperClass} {
			@include create-flex-alignment(
				nth( $properties, 1 ),
				nth( $properties, 2 )
			);
		}
	}
}

@include setup-flex-alignment( $flex-alignment-options );

.edit-post-visual-editor,
.editor-styles-wrapper {
	/*------------------------------------*
		Grid styles
	*------------------------------------*/
	[data-type='yard-blocks/grid'] {
		height: min-content; // Fixes height of the pattern preview window
		min-width: 100%;

		.has-parallax {
			background-attachment: fixed;
		}
	}

	.show-gridlines {
		.yard-blocks-grid-column-container {
			> .yard-blocks-grid-column {
				border: 1px dashed #dddddd;
			}
		}
	}

	.yard-blocks-grid {
		height: 100%;

		> div > .block-editor-inner-blocks {
			width: 100%;

			> .block-editor-block-list__layout {
				display: flex;
				flex-wrap: wrap;
				margin-right: 0;
				margin-left: 0;
			}
		}

		// Grid options
		.no-gutters {
			[data-type='yard-blocks/grid-column'] {
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}

		.columns-equal-height {
			[data-type='yard-blocks/grid-column'] {
				height: auto;
			}

			.column {
				height: 100%;
			}

			.yard-blocks-grid-column {
				height: 100%;
			}
		}

		.block-editor-inner-blocks {
			margin: 0 auto;
		}

		@include wrap-flex-alignment(
			'> .block-editor-inner-blocks > .block-editor-block-list__layout',
			$grid-flex-options
		);
	}

	/*------------------------------------*
		Column styles
	*------------------------------------*/
	[data-type='yard-blocks/grid-column'] {
		height: 100%;
		margin: 15px 0 15px 0;
	}

	.yard-blocks-grid-column {
		min-height: 53px; // Make column easier clickable
		margin-right: 0;
		margin-left: 0;

		.wp-block {
			max-width: 100%; // Remove max-width from blocks inside grid
		}

		// Remove margin from last item in column
		.column
			> .block-editor-inner-blocks
			> .block-editor-block-list__layout {
			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}

.block-visibility-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 20;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.7 );
	color: $white;

	&-text {
		font-size: 1.4rem;
		font-weight: $font-weight-bold;
		text-align: center;
	}
}

// Decrease the z-index if the block-visibility-overlay is on the column
.yard-blocks-grid .yard-blocks-grid-column-container .block-visibility-overlay {
	z-index: 10;
}
