name: format & lint

on:
    push:
        branches:
            - master
            - develop
    pull_request:
        branches:
            - master
            - develop
jobs:
    format:
        name: 'Format & lint'
        runs-on: ubuntu-latest
        steps:
            - name: Node Code Formatter
              uses: MarvinJWendt/run-node-formatter@stable
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
