name: format & lint

on:
    push:
        branches:
            - feature/auto-changelog
jobs:
    lint:
        name: 'lint'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: npm install
            - run: npm run lint
    format:
        name: 'format'
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: npm install
            - run: npm run format
            - uses: stefanzweifel/git-auto-commit-action@v4.1.1
              with:
                  commit_message: Apply formatting
                  branch: ${{ github.head_ref }}
