name: format & lint

on: 
  push:
    branches: 
    - master
    - develop
  pull_request:
    branches:
    - master
    - develop
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - name: Node Code Formatter
      uses: MarvinJWendt/run-node-formatter@stable
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install, lint:js
        run: |
          npm install
          npm run lint:js
