name: tests

env:
    FONTAWESOME_TOKEN: ${{ secrets.FONTAWESOME_TOKEN }}
    NPM_READ_PACKAGES: ${{ secrets.NPM_READ_PACKAGES }}

on:
    push:
        branches:
            - master
            - develop
    pull_request:
        branches:
            - master
            - develop
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: '18.16.0'
            - run: mv .npmrc.example .npmrc
            - run: npm ci
            - run: npm test
